.a{
	height: 400px;
	width: 1000px;
	background-color: transparent;

}
.b{
	height: 400px;
	width: 500px;
	
	background-image: url('../images/icon.jpg');
	float: left;
	background-size: cover;
      background-repeat: no-repeat;
}
.c{
	height: 400px ;
	width: 500px;
	background-color: white;
	float: left;
	
}
.d{
	height: 200px;
	width: 400px;
	background-color: transparent;
	text-align: center;	
}
h1{
    color: blue;
    font-size: 30px;
   padding-top: 80px;

 } 
 .e{
 	height: 100px;
 	width: 400px;
 	text-align: center;
 	background-color: transparent;
 }
   
 .f{
 	height: 50px;
 	width: 200px; text-align: center;
 	background-color: blue;
 border-radius: 50px;
 	color: white;
 	margin-left: 100px;	
 }
 p{
 	padding-top: 20px;
 }
 .z{
   height: 100px;
   width: 1000px;
   background-color: transparent;
   text-align: center;
   color: blue;
   font-size: 30px;
   text-transform: capitalize;
   margin-top: 10px;
 }
 .y{
 	height: 100px;
 	width: 1000px;
 	background-color: transparent;
 	font-style: italic;
    text-align: center;
 }
.A{
   height: 600px;
   width: 1000px;
   background-color: transparent;
   margin-left: 100px;
}
.B{
   height: 600px;
   width: 100px;
   background-color: transparent;
   float: left;
}
.C{
   height: 100px;
   width: 100px;
   background-image: url('../images/editor.png');
   background-size: cover;
}
.D{
   height: 100px;
   width: 100px;
   background-image: url('../images/ssl.jpg');
   background-size: cover;
   margin-top: 100px;
}
.E{
   height: 100px;
   width: 100px;
   background-image: url('../images/transfer.png');
   background-size: cover;
   margin-top: 100px;
}
.F{
   height: 600px;
   width: 200px;
   background-color: transparent;
   float: left;

}
.G{
   height: 200px;
   width: 200px ;
   background-color: transparent;
}
.H{
   height: 100px;
   width: 200px;
   background-color: transparent;
   margin-left: 30px;
   color: blue;
}
.I{
   height: 100px;
   width: 200px;
   font-style: italic;
   margin-left: 30px;
}
.J{
   height: 100px;
   width: 100px;
   background-image: url('../images/storage.png');
   background-size: cover;
   margin-left: 30px;
}
.K{
   height: 100px;
   width: 100px;
   background-image: url('../images/domain.png');
   background-size: cover;
   margin-top: 100px;
   margin-left: 30px;
}
.L{
   height: 100px;
   width: 100px;
   background-image: url('../images/developer.png');
   background-size: cover;
   margin-top: 100px;
   margin-left: 30px;
}
.M{
   height: 300px;
   width: 500px;
   background-image: url('../images/HOSTING.jpeg');
   background-size: cover;
   margin-left: 100px;

}
.N{
   height: 400px;
   width: 400px;
   background-color: silver;
   position: relative;
   bottom: 100px;
   left: 40px;
}
h1{
   margin-left: 20px;
}
p{
   margin-left: 20px;
}
span{
   background-color: blue;
   color: white;
   border: 3px solid blue;
   border-radius: 5px;
   margin-left: 20px;
}
.O{
   height: 200px;
   width: 800px;
   background-color: transparent;
   margin-left:2px;

}
.P{
   height: 200px;
   width: 400px;
   background-color: transparent;
   color: blue;
   font-size: 30px;
 margin-left: 10px;
 margin-right: 40px;
   float: left;
}
.Q{
   height: 200px;
   width: 300px;
   background-color: transparent;
   float: left;
}
h5{
   background-color: blue;
   color: white;
   border-radius: 30px;
   text-align: center;
   width: 80px;
}
.R{
   height: 300px;
   width: 900px;
   background-color: silver;
    margin-left: 100px;
}
.S{
   height: 200px;
   width: 300px;
   background-color: transparent;
   float: left;
}
h2{
   color: blue;
   margin-left: 10px;
}
.T{
   height: 500px;
   width: 400px;
   background-color: transparent;
   position: relative;
   top: 200px;
   left: 50px;
}
.U{
   height: 500px;
   width: 200px;
   background-color: transparent;
   float: left;

}
.V{
   height: 240px;
   width: 200px;
   background-color: white;
   margin-bottom: 20px;
   margin-right: 10px;

}
.W{
   height: 500px;
   width: 800px;
   background-color: silver;
}
.X{
   height: 500px;
   width: 800px;
   background-image: url('../images/design.png');
   background-size: cover;
   background-repeat: no-repeat;
   margin-left: 200px;
}
.Y{
   height: 1000px;
   width: 1000px;
   background-color: silver;
}
h4{
   color: blue;
   font-size: 30px;
   text-align: center;
}
.Z{
   height: 50px;
   width: 1500px;
   background-color: silver;
   color: blue;
   text-align: center;
}
#z{
   height: 50px;
   width: 1500px;
   background-color: silver;
   text-align: center;
}
#y{
   height: 600px;
   width: 1500px;
   background-color: silver;
}
#x{
   height: 500px;
   width: 200px;
   background-color: blue;
   float: left;
   color: white;
   font-size: 34px;
   margin-left: 100px;
   margin-bottom: 100px;
}
#w{
   height: 500px;
   width: 200px;
   background-color: white;
   float: left;
   
   margin-left: 150px;
   margin-bottom: 100px;
}
#a{
   color: blue;
   margin-top: 20px;
   font-size: 50px;
}
#b{
   background-color: silver;
   border: 3px sloid silver;
   width: 100px;
   border-radius: 05px;
   margin-left: 50px;
   padding-top: 5px;
   padding-bottom: 5px;
}
#c{
   width: 200px;
   height: 100px;
   background-color: blue;
   color: white;
   font-size: 50px;  
}
#d{
   height: 500px;
   width: 1500px;
   background-image: url('../images/back.png');
   background-size: cover;
}
#e{
   height: 400px;
   width: 700px;

   background-color: white;

}
#f{
   height: 400px;
   width: 350px;
   background-color: transparent;
   float: left;
}
#g{
   color: blue;
   font-size: 20px;
}
#h{
   height: 400px;
   width: 350px;
   background-color: transparent;
   float: left;
}
#i{
   color: silver;
}
#j{
   color: white;
   background-color: black;
   text-align: center;
   padding-bottom: 10px;
}
#m{
   height: 200px;
   width: 1500px;
   background-color: black;
   text-align: center;
   color: white;
}
#s{
   color: blue;
   
}

